<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
{% load staticfiles %}
{% if view.done %}
<title>Lista zadań - wykonane</title>
{% else %}
<title>Lista zadań - do zrobienia</title>
{% endif %}
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>

{% if view.done %}
<h1>List wykonanych zadań</h1>
{% else %}
<h1>List zadań do zrobienia</h1>
{% endif %}

<table class="table table-bordered">
<thead>
<tr>
<td>Nazwa</td><td>Opis</td><td>Początek</td><td>Koniec</td><td>akcje</td>
</tr>
</thead>
<tbody>
{% for task in object_list %}
	<tr>
		<td>{{task.name}}</td><td>{{task.description}}</td><td>{{task.start}}</td><td>{{task.end}}</td>
		<td>
			<a href="{% url "task_edit" task.id %}">edytuj</a>
			<a href="{% url "task_delete" task.id %}">usuń</a>
		</td>
	</tr>
{% endfor %}
</tbody>
</table>
	
	<a class="btn btn-success" href="{% url "task_new" %}">dodaj</a>
	<a class="btn btn-default" href="{% url "task_list" %}">pokaż listę zadań</a>
</body>
</html>